{% extends 'layout.html.twig' %}

{% block body %}
    <div class="col-md-8">

   {% for article in articles %}
                   
                <h1 class="page-header">
                    <small>{{ article.name }}</small>
                </h1>

                <h2>
                    <a href="{{ path('blog_show', {slug: article.slug}) }}">{{ article.name }}</a>
                </h2>
                <a class="btn btn-primary" href="{{ path('blog_show', {slug: article.slug}) }}">Read More <span class="glyphicon glyphicon-chevron-right"></span></a>

                <hr>
   {% endfor %}
 
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(articles) }}
</div>

            </div>

{% endblock %}

